
/* Hover Settiong for Project Page */
.linkcontainer .linker:hover {
    background-color: var(--proj-link-button-hover-background-color);
    border: 1px solid var(--proj-link-button-hover-border-color);
}

.linkcontainer .linker:hover a {
    color: var(--proj-link-button-text-hover-color);
}

/* Hover Settings for Home Page  */
header > a.header-item:hover {
    background-color: var(--main-header-hover-color);
    color: var(--main-header-text-hover-color);
}

.headercontainerlabel-container:hover {
    overflow: hidden;
    border: solid var(--home-header-label-hover-border-color);
}

a.headercontainerlabel-container:hover ion-icon.headercontainerlabel-items {
    width: 50px;
    height: 50px;
    background-color: var(--main-header-card-color);
    color: var(--home-header-label-hover-color);
}
