/* Importing Styles */
@import "header.css";
@import "home.css";
@import "homecards.css";
@import "procards.css";

:root {
    /* Initializing Google Fonts */
    --main-font-family: "Titillium Web", serif;
    --main-font-weight: 600;
    --main-font-style: normal;
    --main-font-size: 15pt;
    /* initializing Colors */
    --main-font-color: #273334;
    --main-body-color: #a08b73;
    --main-header-text-font: #fdf4d9; 
    --main-card-head-color: #fdf4d9;
    --main-header-card-color: #5a4532;
    /* Initializing button hover colors */
    --main-header-hover-color: #fdf4d9;
    --main-card-hover-color: #fdf4d9;
    --main-card-hover-font-color: #5a4532;
    --main-header-text-hover-color: #5a4532;
}

* {
    font-family: var(--main-font-family);
    font-weight: var(--main-font-weight);
    font-style: var(--main-font-style);
    color: var(--main-font-color);
}

body {
    position: relative;
    margin:0;
    box-sizing: border-box;
    background: var(--main-body-color);
}